<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>PS4 (dracula) Controller Visualizer</title>
  <link rel="stylesheet" type="text/css" href="./static/custom-local.css">
  <link rel="stylesheet" type="text/css" href="./static/ps4-dracula-controller.css">
</head>
<body>
  <div class="container" id="gamepads">
    <div class="controller active half custom invisible" id="gamepad-0" style="transform-origin: 0 0 0;">
      <div class="triggers">
        <span id="lt-fill" class="trigger left" data-name="button-left-shoulder-bottom"></span>
        <span id="rt-fill" class="trigger right" data-name="button-right-shoulder-bottom"></span>
        <span class="trigger-button left" data-name="button-left-shoulder-bottom-digital"></span>
        <span class="trigger-button right" data-name="button-right-shoulder-bottom-digital"></span>
        <span class="clear"></span>
      </div>
      <div class="bumpers">
        <span id="lb" class="bumper left" data-name="button-left-shoulder-top"></span>
        <span id="rb" class="bumper right" data-name="button-right-shoulder-top"></span>
        <span class="clear"></span>
      </div>
      <div id="touchpad" class="touchpad" data-name="touch-pad"></div>
      <div class="quadrant"></div>
      <div id="meta" class="meta" data-name="button-meta"></div>
      <div class="arrows">
        <span id="select" class="back" data-name="button-select"></span>
        <span id="start" class="start" data-name="button-start"></span>
        <span class="clear"></span>
      </div>
      <div class="abxy">
        <span id="a" class="button a" data-name="button-1"></span>
        <span id="b" class="button b" data-name="button-2"></span>
        <span id="x" class="button x" data-name="button-3"></span>
        <span id="y" class="button y" data-name="button-4"></span>
      </div>
      <div class="sticks">
        <span id="left-stick" class="stick left" data-name="stick-1"></span>
        <span id="right-stick" class="stick right" data-name="stick-2"></span>
      </div>
      <div class="wheels">
        <span class="wheel left" data-name="stick-1-wheel"></span>
        <span class="wheel right" data-name="stick-2-wheel"></span>
      </div>
      <div class="dpad">
        <span id="dpad-up" class="face up" data-name="button-dpad-top"></span>
        <span id="dpad-down" class="face down" data-name="button-dpad-bottom"></span>
        <span id="dpad-left" class="face left" data-name="button-dpad-left"></span>
        <span id="dpad-right" class="face right" data-name="button-dpad-right"></span>
      </div>
      <div class="fstick" data-name="arcade-stick"></div>
    </div>
  </div>
  <script src="https://cdn.socket.io/4.3.2/socket.io.min.js"></script>
  <script src="./static/controller.js"></script>
</body>
</html>
